<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>EZ Advisor</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap" rel="stylesheet">
  </head>
  <body>

    <!--This page only contains the login container. --> 
    <!--There is no animation on this page.-->
    <!--The user will only be directed to this page if they click on the 'Logout' button in the navigation menu.-->

    <!--Login container start-->
    <!--The information submitted in this section needs to be validated-->
    <div class="container-fluid h-100">
      <div class="row h-75 align-items-center">
        <div class="col-8 col-sm-7 col-md-6 col-lg-5 col-xl-4 mx-auto text-center">
          <form id="login-box" class="p-5">
            <h2 id="login-header" class="text-center mb-3">Login</h2>
            <div class="form-group">
              <input type="text" class="form-control input-login" name="username" placeholder="Network Username/VIP ID">
            </div>
            <div class="form-group">
              <input type="password" class="form-control input-login" name="password" placeholder="Password">
            </div>
            <a href="get-started.html" id="btn-login-submit" class="btn btn-block" role="button">Submit</a>
          </form>
        </div>
      </div>
    </div>
    <!--Login container end-->
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='swup.min.js')}}"></script>
    <script src="{{ url_for('static', filename='script.js')}}"></script>
  </body>
</html>